*~
*.pyc
RemoteSystemsTempFiles/

build/
dist/
*.egg-info/
*.egg
.eggs/
.snakemake*
.DS_Store
.metadata*

Genomes/
archive/
bam/
fasta/
logs/
output/
marko_thesis/
.idea/
.Rproj.user/
.project
.pydevproject
.pypirc
