*~
*.pyc
RemoteSystemsTempFiles/

build/
dist/
*.egg-info/
*.egg
.eggs/
.snakemake*
.DS_Store
.metadata*

Genomes/
tests/
archive/
fpr1_bam/
p62_bam/
GRCh37_bam/
fasta/
logs/
output/
hnRNPC-ULE/
.Rproj.user/
.project
.pydevproject

