*~
*.pyc
RemoteSystemsTempFiles/
**/_build/*
build/
dist/
images/
examples/
*.egg-info/
*.egg
.eggs/
.snakemake*
.DS_Store
.metadata*
*.bak
**/UnitTestOutput/
Genomes/
archive/
bam/
fasta/
logs/
output/
marko_thesis/
.idea/
.Rproj.user/
.project
.pydevproject
.pypirc
